.norm {
	height: 10%;
}
.weekbox {
	width: 11%;
}
.norm, .after, .before {
	
	border-style: solid;
	height: 7em;
	width: 11%;
}

.after, .before {
	background-color: grey;
}

.left_edge {
	width: 9%;
}

#left_panel {
    position: fixed;
    top:5%;
    left:0px;
    background-color: lightblue;
    height: 72%;
    border-radius: 5px;
    padding-top: 1%;
    width: 7%;
}
h1, h2, h3 {
    font-family: "Arial Verdana";
}

#yearpicker {
    margin-left: 19%;
    margin-bottom: 6%;
}

#right-panel-contract {
    position: fixed;
    right: 0px;
    top: 7%;
    width: 14%;
    background-color: lightblue;
}

.right-pan {
   /* width: 50%;  */
    border-radius: 10px;
}
.day {
    z-index: 1;
}
#add-icon {
    font-size: 1.8em;
    color: green;
    position: absolute;
    left: 82%;
    top: 65%;
}

.add {
   display: none;
    cursor: pointer;
}

.remove_lyst {
    cursor: pointer;
    position:absolute;
    right:1%;
    top:70%;
    color: darkred;
    font-size:1.4em;
}
.remove-drop {
    bottom: 10%;
    right:15%;
    position: absolute;

}
.docname {
    top: 40%;
    position: absolute;
    width: 75%
    cursor: pointer;
    border-radius: 5px;
    padding: 1%;
    padding-left: 1%;
}

.deletedoc {
    position: relative;
    left: 5%;
    top: .2em;
    margin-right: 5%;
    font-size: 112%;
    color: darkred;
    display: none;
    cursor: pointer;
}

