.norm {
	height: 10%;
}
.weekbox {
	width: 11%;
}
.norm, .after, .before {
	
	border-style: solid;
	height: 7em;
	width: 11%;
}

.after, .before {
	background-color: grey;
}

.left_edge {
	width: 9%;
}

#left_panel {
    position: fixed;
    top:5%;
    left:0px;
    background-color: lightblue;
    height: 72%;
    border-radius: 5px;
    padding-top: 1%;
    width: 7%;
}
h1, h2, h3 {
    font-family: "Arial Verdana";
}

#yearpicker {
    margin-left: 19%;
    margin-bottom: 6%;
}

#right-panel-contract {
    position: fixed;
    right: 0px;
    top: 7%;
    width: 14%;
    background-color: lightblue;
    z-index:10;
}

.right-pan {
   /* width: 50%;  */
    border-radius: 10px;
    padding: 1%;
}
.day {
    z-index: 1;
}
#add-icon {
    font-size: 1.8em;
    color: green;
    position: absolute;
    left: 82%;
    top: 65%;
}

.add {
   display: none;
    cursor: pointer;
}

.remove_lyst {
    cursor: pointer;
    position:absolute;
    right:1%;
    top:70%;
    color: darkred;
    font-size:1.4em;
}
.remove-drop {
    bottom: 10%;
    right:15%;
    position: absolute;

}
.docname {
    top: 40%;
    position: absolute;
    width: 75%
    cursor: pointer;
    border-radius: 5px;
    padding: 1%;
    padding-left: 1%;
}

.deletedoc {
    position: relative;
    left: 5%;
    top: .2em;
    margin-right: 5%;
    font-size: 112%;
    color: darkred;
    display: none;
    cursor: pointer;
}

.n1 {
    position:absolute;
    top:24%;
    display: pointer; !important
}
.n2 {
    position: absolute;
    top: 51%;
    display: pointer; !important
}


.doc-col-cont {
    position: relative;
    right: 3%;

}
.mon-col-cont {
    position: relative;
    right: 11%;
}
.tot-col-cont {
    position:relative;
    right: 25%;

}
.month_section {
    padding-top: 4%;
}

#expand_icon {
    font-size: 140%;
    margin-top:3%;
}


.opts {
    position: relative;
    top: 1.8em;
    left: 6em;
}

.clearbtn {
    position: relative;
    left: 9em;
}

.autopopbtn {
    position: absolute;
    left: 9em;
}

#login_panel {
    position:fixed;
    right: 0px;
    top: 80%;
    width: 14%;
    padding-top: .8%;
    padding-bottom: .8%;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
    background-color:lightblue;
}

#u_box {
    padding-bottom: 3%;
}


#log_box {
    padding-top: 3%;
}

#log_in_button {
    position: relative;
    left: 6%;
}
#u_input, #p_input {
    width: 90%;
    position: relative;
    left: 5%;
}
#admin_panel {
    position: fixed;
    top: 69%;
    right: 0;
    width: 12%;
    border-radius: 10px;
    background-color:lightblue;
    padding: 1%;
}

#autopop-all-btn, #clear-all-btn, #add-remove-btn, #log-out-btn {
    width: 100%;
    margin: 2%
}